<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ifrs.com.tcc2018">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:name=".app.Tcc2018App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar.NavDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.EscolhaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity android:name=".view.EscolhaCadastroActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />

        </activity>
        <activity android:name=".view.ImagemActivity" />
        <activity android:name=".view.CapturarImagemActivity" />
        <service
            android:name=".service.RastreamentoService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>